<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Iron Man Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="dist/css/app.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- NVD3 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.min.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="IronManApp">

<div id="wrapper">

    <!-- Navigation -->


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="text-align: center">Iron Man 2016</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-group fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">2237</div>
                                <div>Runners</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tint fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">3.9 km</div>
                                <div>of Swimming</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-gears fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">180 km</div>
                                <div>of Biking</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-heart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">42.2 km</div>
                                <div>of Running</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-controller="TimeTablesController">
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Overall times
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Seconds</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="athlete in topOverall">
                                <td>{{athlete.name}}</td>
                                <td>{{athlete.swim_time}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Swim times
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Seconds</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="athlete in topSwimmers">
                                <td>{{athlete.name}}</td>
                                <td>{{athlete.swim_time}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Bike times
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Seconds</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="athlete in topBikers">
                                <td>{{athlete.name}}</td>
                                <td>{{athlete.swim_time}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Run times
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Seconds</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="athlete in topRunners">
                                <td>{{athlete.name}}</td>
                                <td>{{athlete.swim_time}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Overall time distribution
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body" ng-controller="TimeDistributionController">

                        <nvd3 options="options" data="data"></nvd3>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Bike time vs. Run time
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body" ng-controller="BikeVsRunController">
                        <nvd3 options="options" data="data"></nvd3>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Swim time vs. Run time
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body" ng-controller="SwimVsRunController">
                        <nvd3 options="options" data="data"></nvd3>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Swim time vs. Bike time
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body" ng-controller="BikeVsSwimController">
                        <nvd3 options="options" data="data"></nvd3>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>

        <div class="row" ng-controller="SwimRunBikeConnectionsController">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Top 100: Characteristics
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <nvd3 options="options" data="dataBest"></nvd3>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Bottom 100: Characteristics
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <nvd3 options="options" data="dataWorst"></nvd3>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Attendance by country
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body" ng-controller="AttendanceByCountryController">
                        <nvd3 options="options" data="data"></nvd3>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Attendance by age
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body" ng-controller="AttendanceByAgeController">
                        <nvd3 options="options" data="data"></nvd3>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Gradientboosting + Elasticsearch
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body" ng-controller="SearchController">
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="text" ng-model="searchText" my-on-key-down-call="callRestService()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Country</th>
                                        <th>Overall rank</th>
                                        <th>Age</th>
                                        <th>Pred. age</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="success" ng-repeat="hit in hits">
                                        <td>{{ hit._source.name }}</td>
                                        <td>{{ hit._source.country }}</td>
                                        <td>{{ hit._source.overall_rank }}</td>
                                        <td> {{ hit._source.age }}</td>
                                        <td> {{ hit._source.predicted_age }}</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>


    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Angular -->
<script src="vendor/angular/angular.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Dimple -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://dimplejs.org/dist/dimple.v2.0.0.min.js"></script>
<script src="vendor/angular-dimple/dist/angular-dimple.min.js"></script>

<!-- Underscore.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<!-- NVD3 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>


<!-- Custom Theme JavaScript -->
<script src="dist/js/base.js"></script>
<script src="dist/js/app.js"></script>

</body>

</html>
